<div class="user-wrapper" nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>用户名</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."nzErrorTip [nzErrorTip]="userErrorTpll">
        <input nz-input formControlName="name" placeholder=" 用户名" />
        <ng-template #userErrorTpll let-control>
          <ng-container *ngIf="control.hasError('required')">用户名为必填项!</ng-container>
          <ng-container *ngIf="control.hasError('minlength')">用户名字符应大于3!</ng-container>
          <ng-container *ngIf="control.hasError('maxlength')">用户名字符应小于20!</ng-container>
          <ng-container *ngIf="control.hasError('duplicated')"></ng-container>

        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>密码</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
        <input nz-input formControlName="password" placeholder=" 密码" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">密码为必填项!</ng-container>
          <ng-container *ngIf="control.hasError('minlength')">密码字符长度应大于3!</ng-container>
          <ng-container *ngIf="control.hasError('maxlength')">密码名字符长度应小于6!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
   <!--  <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>确认密码</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
        <input nz-input formControlName="confirm" placeholder=" 确认密码" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">密码为必填项!</ng-container>
          <ng-container *ngIf="control.hasError('confirm')">密码输入不一致</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>年龄</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="年龄格式有误或为空">
        <input nz-input formControlName="age" placeholder=" 年龄" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>邮箱</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <input nz-input formControlName="email" placeholder="邮箱" type="email" />
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('email')">邮箱格式错误</ng-container>
          <ng-container *ngIf="control.hasError('required')">邮箱为必填项!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>电话</nz-form-label>
      <nz-form-control [nzSpan]="18" nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="电话格式错误或为空">
        <input nz-input formControlName="phone" placeholder=" 电话号码长度11位" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>授权状态</nz-form-label>
      <nz-form-control [nzSpan]="24" nzHasFeedback  >
        <nz-radio-group formControlName="status">
          <label nz-radio nzValue='0'>不授权</label>
          <label nz-radio nzValue='1'>授权</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>操作</nz-form-label>
      <nz-form-control  [nzSpan]="24">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">新增</button>
        <button nz-button (click)="resetForm($event)">重置</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
  


<!-- <nz-form-item>
  <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
  <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your password!">
    <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" />
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
    <input nz-input type="password" formControlName="confirm" placeholder="confirm your password" />
    <ng-template #passwordErrorTpl let-control>
      <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
      <ng-container *ngIf="control.hasError('confirm')">Password is inconsistent!</ng-container>
    </ng-template>
  </nz-form-control>
</nz-form-item> -->
